-r requirements.txt

-e .

flake8
black
jinja2==2.10.1
mkdocs==1.0.1
git+https://github.com/drivendataorg/mkdocs-alabaster.git#egg=mkdocs-alabaster
pytest==3.6.4
pymdown-extensions==5.0
twine==1.11.0
pytest-cov==2.6.0
