name: examples

on:
  push:
    branches: [ main ]

jobs:
  examples:
    name: Build and commit examples
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Build examples and docs
        run: |
          uv run make examples
          uv run make docs

      - name: Commit changed files from build
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Add rendered files from build
          file_pattern: examples/* docs/docs/*.md README.md
