name: tests

on:
  push:
    branches: [ main ]
  pull_request:
  schedule:
    # Run every Sunday
    - cron: '0 0 * * 0'
  workflow_dispatch:


jobs:

  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11 with uv
        uses: drivendataorg/setup-python-uv-action@v1
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          uv pip install -r dev-requirements.txt

      - name: Lint package
        run: |
          make lint

  tests:
    name: Tests (${{ matrix.os }}, Python ${{ matrix.python-version }})
    needs: code-quality
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9, "3.10", "3.11", "3.12"]

    steps:

      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }} with uv
        uses: drivendataorg/setup-python-uv-action@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv pip install -r dev-requirements.txt

      - name: Test Package
        run: |
          make test

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          fail_ci_if_error: true
        if: matrix.os == 'ubuntu-latest'

      - name: Build distribution and test installation
        shell: bash
        run: |
          make dist
          if [[ ${{ matrix.os }} == "windows-latest" ]]; then
            PYTHON_BIN=Scripts/python
          else
            PYTHON_BIN=bin/python
          fi
          echo "=== Testing wheel installation ==="
          uv virtualenv .venv-whl --seed
          uv pip install dist/deon-*.whl --python=.venv-whl/$PYTHON_BIN
          .venv-whl/$PYTHON_BIN -m deon --help
          echo "=== Testing source installation ==="
          uv virtualenv .venv-sdist --seed
          uv pip install dist/deon-*.tar.gz --python=.venv-sdist/$PYTHON_BIN
          .venv-sdist/$PYTHON_BIN -m deon --help

      - name: Test Building Docs
        run: |
          make examples
          make docs

  notify:
    name: Notify failed build
    needs: [code-quality, tests]
    if: failure() && github.event.pull_request == null
    runs-on: ubuntu-latest
    steps:
      - uses: jayqi/failed-build-issue-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
