name: tests

on:
  push:
    branches: [ main ]
  pull_request:
  schedule:
    # Run every Sunday
    - cron: '0 0 * * 0'
  workflow_dispatch:


jobs:

  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          cache-suffix: dev

      - name: Lint package
        run: |
          uv run make lint

  tests:
    name: Tests (${{ matrix.os }}, Python ${{ matrix.python-version }})
    needs: code-quality
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9, "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:

      - uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }} # Sets UV_PYTHON for rest of job
          cache-suffix: tests-${{ matrix.os }}-py${{ matrix.python-version }}

      - name: Test Package
        run: |
          uv run --isolated --no-editable --upgrade make test

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          fail_ci_if_error: true
        if: matrix.os == 'ubuntu-latest'


  docs:
    name: Docs
    needs: code-quality
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          cache-suffix: dev

      - name: Test Building Docs
        run: |
          uv run make examples
          uv run make docs

  notify:
    name: Notify failed build
    needs: [code-quality, tests, docs]
    if: failure() && github.event.pull_request == null
    runs-on: ubuntu-latest
    steps:
      - uses: jayqi/failed-build-issue-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
